<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.qf.cl.mapper.UserMapper">

    <!--id = 所需重写的接口抽象方法，resultType = 查询后所需返回的对象类型-->
    <select id="selectUser" resultType="User">
        <!--#{arg0} = 方法的第一个形参-->
        SELECT * FROM t_users
    </select>

    <!-- 查询指定用户   -->
    <select id="selectUserByIdAndPassword" resultType="user">
        SELECT * FROM t_users
            where name = #{name} and password = #{pwd}
    </select>

    <!-- 插入用户   -->
    <insert id="insertUser" parameterType="user">
        insert into t_users values(null,#{name},#{password},#{sex},#{birthday},#{registTime})
    </insert>
</mapper>