<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--MyBatis配置-->
<configuration>

    <properties resource="jdbc.properties"/>

    <!--定义别名二选一-->
    <typeAliases>
        <!--定义类的别名-->
        <!--        <typeAlias type="" alias="user" />-->

        <!--自动扫描包，将原类名作为别名-->
        <package name="com.qf.cl.entity" />
    </typeAliases>


    <!--JDBC环境配置、选中默认环境-->
    <environments default="MySqlDB">
        <!--MySql数据库环境配置-->
        <environment id="MySqlDB">
            <!--事务管理-->
            <transactionManager type="JDBC"/>
            <!--连接池-->
            <dataSource type="com.qf.cl.factory.DruidDataSourceFactory">
                <property name="driverClass" value="${mysql.driver}"/>
                <!-- &转义&amp; -->
                <property name="jdbcUrl" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
<!--        <mapper class="com.qf.cl.mapper.UserMapper"/>-->
        <!--自动扫描Mapper文件，文件名必须与接口名相同 -->
        <package name="com.qf.cl.mapper"/>
    </mappers>

</configuration>